[Unit]
Description=Disable Wakeup-on-USB

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh -c 'echo XHC > /proc/acpi/wakeup'
ExecStart=/usr/bin/zsh -c 'echo EHC1 > /proc/acpi/wakeup'
ExecStart=/usr/bin/zsh -c 'echo EHC2 > /proc/acpi/wakeup'

[Install]
WantedBy=multi-user.target